* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: 18px;
}
#container {
    padding: 45px 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    font-weight: bold;
    color: white;
    background-color: rgb(2, 110, 20);
    padding: 6px;
    border-radius: 16px;
}
input[type=text] {
    padding: 7px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(5,150px); 
    gap: 25px;
}